<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="roman10.media.dash"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5" />

    <application android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:debuggable="true">
        <activity android:name="VideoBrowser"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="roman10.media.camcorder.SettingsDialog"
        		  android:label="Select Encode Options"
        		  android:theme="@android:style/Theme.Dialog">
        </activity>	
         <activity android:name="roman10.media.camcorder.VideoCapture"
                  android:screenOrientation="landscape" 
    			  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
         <activity android:name="roman10.media.dash.VideoPlayer"
                  android:screenOrientation="landscape" 
    			  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
		<service android:enabled="true" 
        	android:name="roman10.media.dash.StreamletService"
        	>
		</service>
		<service android:enabled="true" 
        	android:name="roman10.http.UploadService"
        	>
		</service>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.RECORD_VIDEO"/>
	
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
</manifest>